<!DOCTYPE html>
<html>
<head>
  <title>Accomplice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <% if current_user.nil? %>
      <%= link_to "Sign In", new_session_url %>
    <% else %>
      Welcome <%= current_user.username %>
      <%= button_to "Sign Out", session_url, method: :delete %>
    <% end %>
  </div>

  <div>
    <% flash[:error] ||= [] %>
    <% flash[:error].each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
